html,
body {
    font-family: 'Open Sans';
    height: 100%;
}

/*body {
    position: relative;
    min-height: 100%;
    margin: 0 0 30px;
}*/

.container {
    min-height: 95%;
    position: relative;
    padding-left: 30px;
    margin: 0 auto;
    max-width: 940px;
}

#quiz {
    padding-bottom: 8%;
}

div.deck-item {
    display: none;
    padding-top: 8%;
}

div.deck-active {
    display: block;
}

.option-list,
.info-list {
    padding: 0;
    width: auto;
}

div.btn-group {
    display: block !important;
    width: 350px;
}

.deck-item input {
    text-align: left;
    border-radius: 0;
    width: 300px;
}

.deck-item input[type="text"] {
    height: 38px;
    padding: 8px 16px;
    display: none;
}

button#init {
    border-radius: 0;
}

button[data-toggle="popover"] {
    border-radius: 0;
    width: 50px;
    margin-left: 0;
}

button#other-role-adv,
button#other-motiv-adv {
    border-radius: 0;
    width: 50px;
}

.popover {
    max-width: 500px;
}

blockquote {
    position: relative;
    border-left: 0 !important;
}

blockquote > div {
    font-size: 1rem;
    position: absolute;
    /*bottom: 0;*/
    top: 50%;
    transform: translateY(-50%);
}


.progress {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 0;
    width: 100%;
}

.progress * {
    position: relative;
}

.btn-link {
}

.btn-link:disabled,
.btn-link:disabled:hover {
    cursor: default;
    color: #373a3c !important;
}