.container {
    max-width: 940px;
    margin: 0 auto;
}

div.deck-item {
    display: none;
}

div.deck-active {
    display: block;
}

.option-list,
.info-list {
    padding: 0;
    width: auto;
}

div.btn-group {
    display: block !important;
}

.deck-item input {
    text-align: left;
    border-radius: 0;
    width: 300px;
}

.deck-item input[type="text"] {
    height: 38px;
    width: 100%;
    padding: 8px 16px;
    display: none;
}

button[data-toggle="popover"] {
    border-radius: 0;
    /*color: #0275d8;
    background-color: #fff;*/
}



/*input,
input[type="button"],
input[type="text"],
button {
    border-radius: 0 !important;
}

input,
input[type="button"] {
    margin-bottom: 0.5em;
    text-align: left;
}

input[type="text"] {
    padding: 0 30px;
}


input[type="button"],
button {
    color: white !important;
    background-color: #f25b14 !important;
    border-color: #f25b14 !important;
}

input[type="button"]:hover,
button:hover {
    color: #b03f0a !important;
    background-color: #fff !important;
    border-color: #f25b14 !important;
}*/

/*#other-text {
    min-width: 80%;
}*/

#other-advance {
    margin-left: 0;
}

/*.btn-disabled {
    background:#efefef;
    color: #555;
    border-color: #ccc;
    text-shadow:none;
}*/
.option-list {
    margin-left: 0;
}