html {
    height: 100%;
    min-height: 850px;
}
body {
    font-family: 'Open Sans';
    height: 100%;
}

/*body {
    position: relative;
    min-height: 100%;
    margin: 0 0 30px;
}*/

.container {
    min-height: 95%;
    position: relative;
    /*padding-left: 30px;*/
    margin: 0 auto;
    max-width: 850px;
}

#quiz {
    padding-bottom: 5vh;
}

div.deck-item {
    display: none;
    padding-top: 1.5rem;
    margin-left: 0;
    margin-right: 0;
}

div.deck-active {
    display: block;
}

.q-options{
    /*padding: 0;*/
}

div.btn-group {
    display: block !important;
    width: 350px;
}

.btn {
    padding: 4px 8px;
}

.btn-circle {
    width: 2.5rem !important;
    height: 2.5rem !important;
    position: relative;
    border-radius: 100%;
}

.btn-circle:focus,
.btn-circle.active,
.btn-circle:active {
    outline: none !important;
}

.btn-circle > i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.q-options input,
.q-options button {
    text-align: left;
    margin-bottom: 0.5rem;
    /*width: 300px;*/
}

.deck-item input[type="text"] {
    height: 32px;
    padding: 4px 8px;
    display: none;
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
}

.btn:focus {
    outline: none;
}

.btn-primary,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:hover,
.btn-primary:disabled:hover {
    color: #555;
    background: #fff;
    border: 2px solid #737373;
}

.btn-primary:hover,
.btn-primary.selected {
    color: #fff;
    background: #12a8dd;
    border: 2px solid #12a8dd;
}

.btn-primary:hover i {
    color: #fff;
}

.next,
.next:disabled:hover {
    color: #fff;
    background: #f25b14;
    border-color: #f25b14;
}
.next:hover,
.next:focus,
.next:active {
    color: #f25b14;
    background: #fff;
    border-color: #f25b14;
}

hr.sep {
    margin-top: 0;
    margin-bottom: 0.5rem;
}



button > i {
    padding-top: 3px;
}
button img {
    max-height: 1.2rem;
}

/*.tooltip {
    max-width: 500px;
}*/

blockquote {
    /*position: relative;*/
    padding-top: 0;
    border-left: 0 !important;
}

blockquote > div {
    font-size: 1rem;
/*    position: absolute;
    bottom: 0;
    top: 50%;
    transform: translateY(-50%);*/
}


.progress-container {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 0;
    width: 100%;
}

.progress-container * {
    position: relative;
}


.btn-link:disabled,
.btn-link:disabled:hover {
    cursor: default;
    color: #373a3c !important;
}


.team-quote {
    /*animation-delay: 0.2s;*/
}

.sources {
    position: absolute;
    bottom: 50px;
    left: 8px;
    z-index: 0;
    font-size: 0.7rem;
}

.sources ul {
    list-style: none;
}

.card {
    padding: 0.75rem;
}

.card-success {
    background: #12a8dd;
    border-color: #12a8dd;
    color: #fff;
}

.tile {
    width: 250px;
    margin: 0 auto;
    border-radius: 0.25rem;
}
/*.tile > .front,
.tile > .back {
    max-height: 250px;
}*/
.front > img, 
.back > .card {
    height: 250px;
    max-height: 250px;
}

.back > .card {
    font-size: 0.8rem;
}

#final.jumbotron {
    background: #85c423;
    color: white;
}


/*.tooltip {
    margin-left: 16px;
}*/
#printresponses {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1em;
}
@media print {
    #printresponses {
        visibility: hidden;
    }
}